.about-page{
    background-color: white !important;
    /* margin-left: 180px; */
     height: 500px;  
    /* height: 100vh;    */

}
.about-page h1{
  
    width:fit-content;
    font-weight: bold;
    font-size: 31px;
    color: #173b6c;
    
   
}
.about-page .title{

    /* margin-left: 90px; */
    width:60px;
    border-bottom: 3px solid #149ddd ;
    margin-top: 70px;
}
.content-about p{
    font-size: 17px;
    line-height: 2;
    padding: 0px 30px;
 }
 .icon-detalis{
    color:#149ddd;
    font-size: 17px !important;

 }
 .detlais-personal span {
    font-size: 17px;
    font-weight: bold;
    
 }
 .detalis{
    /* display: none; */
    /* transform: scaleX(0); 
    animation: animate 2s 0.2s  forwards; */
    margin-top: 37px;
 }
 @keyframes animate {
    100% {
        /* display: block; */
      transform: scaleX(1); 
    }
  }
