.about-page{
    background-color: white !important;
    
     /* height: 500px;   */
   

}
.about-page h1{
  
    width:fit-content;
    font-weight: bold;
    font-size: 31px;
    color: #173b6c;
    
   
}
.about-page .title{


    width:60px;
    border-bottom: 3px solid #149ddd ;
    margin-top: 70px;
}
.content-about p{
    font-size: 17px;
    line-height: 2;
    padding: 0px 30px;
 }
 .icon-detalis{
    color:#149ddd;
    font-size: 17px !important;

 }
 .detlais-personal span {
    font-size: 17px;
    font-weight: bold;
    
 }
 .detalis{
 
    margin-top: 37px;
 }
 @keyframes animate {
    100% {
       
      transform: scaleX(1); 
    }
  }
