.AppHome{
   width: 100%;
 
   display: block;
    position: relative;
   
}
.background{
    background-image: url(../../public/images/personal.jpg) ;
     width: 100%; 
  
    background-repeat: no-repeat; 
    
    height: 100vh;
   
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    
}
.background p{
    color: white;
    font-size:40px;
    font-weight: bold;
    
    cursor: pointer;
    

}
.background p  small{
    color: #149ddd !important;
    font-size:40px;
    
}
span.text {
   
    border-bottom: 3px solid #149ddd  ;

}
.content-background {
    margin-left: 180px;


}
.background .download-cv{
    border: 2px solid #149ddd ;
    color:white !important ;
    font-size: 18px;
    -o-transition-duration: 0.2s;
    transition-duration: 0.5s;
    
}
.background .download-cv:hover{
   color:  #149ddd !important;
   
   background-color: white;
   color:  #149ddd !important;
   border: none !important;
}
.sroll-button{
    display: block;
    width:40px;
    height:40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #173b6c;
    border-radius: 50%;
    position: fixed;
    bottom:10px;
    left:10px;
    cursor: pointer;
}