

.link-page {  position: fixed;
   top: 50%;
   right: 30px;
   z-index: 8888;
  
}
@media(max-width:768px){
   .link-page {  position: fixed;
      
      right: 50px;
      
     
}}
@media (min-width:769px) and (max-width:1200px){
   .link-page {  
   
      
      right: 300px;
     
}}

   .links .link-one{
    text-decoration: none !important;
    color: white;
   }
 
   .active  {
    color:#149ddd !important;
   }
   .links ul {
    padding: 20px 0 !important;
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #173b6c;
    height: 253px;
    margin-top:-125px !important;
   
    border-radius: 12px;
   }
   .links ul li {
    margin-bottom: 15px;
   }
   .links span {
    color: white !important;
    cursor: pointer;

   }
   .icon-hover:hover{
    color:#149ddd !important; 
   }

    .tabs{
      padding: 17px 1px !important;
    } 
   
   