.skills-all{
    background: #f5f8fd !important;
    height: 100vh;
   
}
@media screen {
    .skills-all{ 
        padding-bottom: 50px;
     }
}



.skills-page h1{
  
    width:fit-content;
    font-weight: bold;
    font-size: 31px;
    color: #173b6c;
   
   
}
.skills-page .title{

   
    width:60px;
    border-bottom: 3px solid #149ddd ;
    margin-top: 70px;
}
.skill-content-page p{
    color: black;
    font-size: 17px;
    line-height: 2;
}
.skill-content-page{
    padding: 0px 30px;
}


   

