body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
   padding: 0;
   margin: 0;
   overflow-y: scroll;
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: "Poppins", sans-serif !important;
}
ul li {
  list-style: none;
}
a{
  text-decoration: none !important;
}
ul , ol{
  margin: 0 !important;
  padding: 0  !important;
}
/* @media (max-width:px){
  #root{
    width: 400px !important;
    
  }
} */
@media (max-width: 328px){
  #root{
    width:530px !important;
    
  }
}
 @media  (min-width:329px) and (max-width: 920px){
  #root{
    width:922px !important;
    
  }
} 

/* @media  (min-width:380) and (max-width:497px){
  #root{
    width: fit-content !important;
    
  } */








